* {
    visibility: hidden;
    color: black;
}

#yesprint {
    visibility: visible;


    div {
        visibility: visible;

        p {
            visibility: visible;

            b {
                visibility: visible;


            }
        }
    }

    img {
        visibility: visible;

    }
}

#tableau {
    visibility: visible;


    h2 {
        visibility: visible;

    }

    table {
        visibility: visible;


        thead {
            visibility: visible;


            tr {
                visibility: visible;

                th {
                    visibility: visible;


                    .rendre {
                        visibility: hidden;

                    }
                }


            }

        }

        tbody {
            visibility: visible;

            tr {
                visibility: visible;

                td {
                    visibility: visible;
                    color: black;

                    .rendre {
                        visibility: hidden;

                    }
                }
            }

            .retard {
                background: #ad2626;

            }

        }
    }
}