* {
    visibility: hidden;
}

#yesprint {
    visibility: visible;


    div {
        visibility: visible;

        p {
            visibility: visible;

            b {
                visibility: visible;


            }
        }
    }

    img {
        visibility: visible;

    }
}