@font-face {
  font-family: 'futura';
  src: url("./police/Futura-Light.otf") format("opentype");
}

* {
  font-family: "futura";
  margin: 0;
  padding: 0;
  color: #F8F9F7;
}

#body {
  background: #436168;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #baniere {
  width: 60%;
  height: 500px;
  background-size: cover;
  margin-bottom: 5px;
}

#menu {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-bottom: 50px;
  z-index: 7;
}

#menu .menuCase {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#menu .menuCase li {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #436168;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#menu .menuCase li #admin {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F8F9F7;
}

#menu .menuCase li #admin p {
  position: relative;
  top: 7px;
}

#menu .menuCase li ul li a {
  color: #F8F9F7;
  list-style: none;
}

#menu .menuCase li ul li a:hover {
  color: #000000;
}

#menu .menuCase li:hover {
  background: #414D4F;
}

#menu .menuCase a {
  text-decoration: none;
  color: #011F27;
}

#menu .menuCase a li {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menuCase a li p {
  position: relative;
  top: 7px;
}

.bn632-hover {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #F8F9F7;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover a {
  text-decoration: none;
  background: none;
  color: #F8F9F7;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: -webkit-gradient(linear, left top, right top, from(#011F27), color-stop(#436168), color-stop(#488FA0), to(#4e4376));
  background-image: linear-gradient(to right, #011F27, #436168, #488FA0, #4e4376);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.bn633-hover {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #F8F9F7;
  cursor: pointer;
  margin: 10px;
  height: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
}

.bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:focus {
  outline: none;
}

.bn633-hover.bn25 {
  background-image: -webkit-gradient(linear, left top, right top, from(#011F27), color-stop(#436168), color-stop(#488FA0), to(#4e4376));
  background-image: linear-gradient(to right, #011F27, #436168, #488FA0, #4e4376);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.bn634-hover {
  width: auto;
  padding: 15px;
  font-size: 18px;
  font-weight: 900;
  color: #000000;
  cursor: pointer;
  margin: 10px;
  height: auto;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
}

.bn634-hover a {
  color: #000000;
}

.bn634-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #000000;
}

.bn634-hover:focus {
  outline: none;
  color: #000000;
}

.bn634-hover.bn27 {
  background-image: -webkit-gradient(linear, left top, right top, from(#f3e40d), color-stop(#fffddb), color-stop(#548b3e), to(#3ac09e));
  background-image: linear-gradient(to right, #f3e40d, #fffddb, #548b3e, #3ac09e);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

main {
  height: 100%;
  margin-bottom: 50px;
}

main textarea {
  resize: none;
}

main a {
  text-decoration: none;
  color: #F8F9F7;
}

main #index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

main #index #allFiltre {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

main #index #allFiltre .filtre {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  height: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #index #allFiltre .filtre.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  height: auto;
  width: 75%;
  visibility: visible;
  position: relative;
}

main #index #popup {
  border: 5px solid #c3cf15;
  margin: 10px;
  padding: 10px;
  -webkit-animation: clignote 3s linear infinite;
          animation: clignote 3s linear infinite;
}

main #index #popup p {
  color: #c3cf15;
  -webkit-animation: clignote 3s linear infinite;
          animation: clignote 3s linear infinite;
}

@-webkit-keyframes clignote {
  50% {
    opacity: 0.35;
  }
}

@keyframes clignote {
  50% {
    opacity: 0.35;
  }
}

main #index h2 {
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
  background: none;
}

main #index article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

main #index article .cards {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 250px;
  background: #414D4F;
  border: 1px solid #F8F9F7;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main #index article .cards a {
  text-decoration: none;
  background: #414D4F;
}

main #index article .cards a .miniCard {
  width: 100%;
  height: 200px;
  background-size: contain;
  background: #414D4F;
}

main #index article .cards a .info {
  background: #414D4F;
}

main #index article .cards a .info p {
  color: #F8F9F7;
  background: #414D4F;
}

main #index article .cards h3 {
  font-size: 22px;
  color: #F8F9F7;
  font-weight: 800;
  background: #414D4F;
}

main #index article .cards:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 5;
}

main .profil {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .profil article {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  background: #488FA0;
}

main .profil article div {
  background: #488FA0;
}

main .profil article div p {
  background: #488FA0;
}

main .profil article div p b {
  background: #488FA0;
  color: #2F2E2E;
}

main .profil article img {
  width: 180px;
  height: 250px;
  border: 1px solid black;
  margin-left: 5px;
}

.formUsers {
  border: 1px solid #F8F9F7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 0;
  height: 0;
  margin: 25%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  background: #488FA0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formUsers.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: 500px;
  height: auto;
  visibility: visible;
  border-radius: 20px;
  z-index: 8;
}

.formUsers form {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-radius: 20px;
  background: #488fa0;
}

.formUsers form h2 {
  background-color: #488fa0;
}

.formUsers form div {
  background-color: #488fa0;
}

.formUsers form #usersModForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: #488fa0;
}

.formUsers form #usersModForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #488fa0;
}

.formUsers form #usersModForm div label {
  background: #488fa0;
}

.formUsers form #usersModForm div label b {
  background: #488fa0;
}

.formUsers form #usersModForm div input {
  background: #488fa0;
  border: 1px solid #F8F9F7;
}

.formUsers form #usersModForm div input::-webkit-input-placeholder {
  color: #F8F9F7;
}

.formUsers form #usersModForm div input:-ms-input-placeholder {
  color: #F8F9F7;
}

.formUsers form #usersModForm div input::-ms-input-placeholder {
  color: #F8F9F7;
}

.formUsers form #usersModForm div input::placeholder {
  color: #F8F9F7;
}

.formUsers form #usersModForm div select {
  background-color: #488fa0;
  border: 1px solid #F8F9F7;
}

.formUsers form #usersModForm div select option {
  background-color: #488fa0;
}

.formUsers form button {
  margin-top: 20px;
}

#tableau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3% 7% 3% 7%;
}

#tableau #requete {
  font-weight: 900;
  color: #F8F9F7;
  border: 1px solid #F8F9F7;
  padding: 10px;
}

#tableau div {
  margin-bottom: 20px;
}

#tableau table {
  border: 1px solid #011F27;
  width: 100%;
  border-collapse: collapse;
}

#tableau table thead {
  border: 1px solid #011F27;
}

#tableau table thead tr th {
  padding: 10px;
}

#tableau table tbody tr {
  border-bottom: 1px solid #011F27;
  vertical-align: middle;
}

#tableau table tbody tr td {
  padding: 4px;
  color: #F8F9F7;
}

#tableau table tbody tr a {
  background: #011F27;
  color: #F8F9F7;
  padding: 5px;
  height: auto;
  width: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#tableau table tbody tr a:hover {
  -webkit-box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
          box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
  background: #54818C;
}

#tableau table tbody tr button {
  background: #011F27;
  color: #F8F9F7;
  padding: 5px;
  height: auto;
  width: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#tableau table tbody tr button a {
  background: none;
  color: #F8F9F7;
  width: 100%;
  height: 100%;
}

#tableau table tbody tr button:hover {
  -webkit-box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
          box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
  background: #54818C;
}

#tableau table tbody .retard {
  background: none;
  background: #ad2626;
}

#formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

#formulaire form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: auto;
  height: auto;
  border: 1px solid #F8F9F7;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  background: #488fa0;
}

#formulaire form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #488fa0;
}

#formulaire form div label {
  background: #488fa0;
  font-weight: 900;
}

#formulaire form div input {
  background: #54818c;
  border: 1px solid #F8F9F7;
}

#formulaire form div input::-webkit-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div input:-ms-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div input::-ms-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div input::placeholder {
  color: #F8F9F7;
}

#formulaire form div textarea {
  background: #54818c;
  border: 1px solid #F8F9F7;
}

#formulaire form div textarea::-webkit-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div textarea:-ms-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div textarea::-ms-input-placeholder {
  color: #F8F9F7;
}

#formulaire form div textarea::placeholder {
  color: #F8F9F7;
}

#formulaire form div select {
  background-color: #54818c;
  border: 1px solid #F8F9F7;
}

#formulaire form div select option {
  background-color: #54818c;
}

#sauvegarde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

#sauvegarde form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: auto;
  height: auto;
  border: 1px solid #F8F9F7;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  background: #488fa0;
}

#sauvegarde form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #488fa0;
}

#sauvegarde form div label {
  font-weight: 900;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact div form .inputConnec::-webkit-input-placeholder {
  color: #F8F9F7;
}

.contact div form .inputConnec:-ms-input-placeholder {
  color: #F8F9F7;
}

.contact div form .inputConnec::-ms-input-placeholder {
  color: #F8F9F7;
}

.contact div form .inputConnec::placeholder {
  color: #F8F9F7;
}

.contact div form .inputConnec {
  background: #54818C;
  border: 1px solid #F8F9F7;
}

.contact .spaceButton {
  background: none;
}

.oneArticle {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oneArticle .fichierOne {
  width: 250px;
  height: 350px;
  margin-bottom: 40px;
}

.oneArticle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.oneArticle div h3 {
  font-weight: 900;
}

.oneArticle div #description {
  font-weight: 600;
}

.oneArticle .message {
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  top: -500px;
  width: 0;
  height: 0;
  background: white;
  margin: 25%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.oneArticle .message.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: 200px;
  height: 100px;
  visibility: visible;
}

.oneArticle .message p {
  color: #414D4F;
  font-weight: 900;
}

footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #8b8585;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
}

footer p {
  background: none;
}

footer nav {
  background: none;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
}

footer nav ul li {
  list-style-type: none;
  margin-left: 10px;
  background: #8b8585;
}

footer nav ul li a {
  text-decoration: none;
  color: #2F2E2E;
  background: #8b8585;
}

footer nav ul li a svg {
  height: 20px;
  width: 20px;
  background: #8b8585;
}

footer nav ul li a svg path {
  background: #8b8585;
}

#titreCards {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */