@font-face {
  font-family: 'futura';
  src: url("./police/Futura-Light.otf") format("opentype");
}

* {
  font-family: "futura";
  margin: 0;
  padding: 0;
  background: #436168;
  color: #F8F9F7;
}

header {
  height: 200px;
  width: 100%;
}

header #baniere {
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-bottom: 5px;
}

#menu {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-bottom: 50px;
  z-index: 5;
}

#menu .menuCase {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu .menuCase li {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menuCase li #admin {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F8F9F7;
}

#menu .menuCase li ul li a {
  color: #F8F9F7;
  list-style: none;
}

#menu .menuCase a {
  text-decoration: none;
  color: #011F27;
}

#menu .menuCase a li {
  border: solid 5px #F8F9F7;
  list-style: none;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a {
  text-decoration: none;
  color: #F8F9F7;
}

.bn632-hover {
  width: 100px;
  font-size: 14px;
  font-weight: 200;
  color: #c3cf15;
  cursor: pointer;
  margin: 10px;
  height: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover a {
  text-decoration: none;
  color: #F8F9F7;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.bn633-hover {
  font-size: 14px;
  font-weight: 200;
  color: #c3cf15;
  cursor: pointer;
  margin: 10px;
  height: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:focus {
  outline: none;
}

.bn633-hover.bn26 {
  background-image: -webkit-gradient(linear, left top, right top, from(#29323c), color-stop(#485563), color-stop(#2b5876), to(#4e4376));
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  -webkit-box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

main {
  position: relative;
  top: -50px;
}

main textarea {
  resize: none;
}

main a {
  text-decoration: none;
  color: #F8F9F7;
}

main #index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #index #popup {
  border: 5px solid #c3cf15;
  margin: 10px;
  padding: 10px;
  -webkit-animation: clignote 2s linear infinite;
          animation: clignote 2s linear infinite;
}

main #index #popup P {
  color: #c3cf15;
  -webkit-animation: clignote 2s linear infinite;
          animation: clignote 2s linear infinite;
}

@-webkit-keyframes clignote {
  50% {
    opacity: 0.2;
  }
}

@keyframes clignote {
  50% {
    opacity: 0.2;
  }
}

main #index h2 {
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
}

main #index article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 1px solid #d3e0d3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  gap: 20px;
}

main #index article .cards {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 200px;
}

main #index article .cards a {
  text-decoration: none;
}

main #index article .cards a .miniCard {
  width: 100%;
  height: 140px;
  background-size: contain;
}

main #index article .cards a .info p {
  color: #000000;
}

main #index article .cards h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

main .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .profil article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

main .profil article img {
  width: 180px;
  height: 250px;
  border: 1px solid black;
  margin-left: 5px;
}

.form article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

#delBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact div button a {
  color: #ffffff;
}

.oneArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oneArticle .fichierOne {
  width: 250px;
  height: 350px;
}

.oneArticle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.oneArticle div h3 {
  font-weight: 900;
}

.oneArticle div #description {
  font-weight: 600;
}

.oneArticle .message {
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  top: -500px;
  width: 0;
  height: 0;
  background: white;
  margin: 25%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.oneArticle .message.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: 200px;
  height: 100px;
  visibility: visible;
}

.oneArticle .message p {
  color: #414D4F;
  font-weight: 900;
}

.formUsers {
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  top: -550px;
  width: 0;
  height: 0;
  background: white;
  margin: 25%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

.formUsers.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: 400px;
  height: 500px;
  visibility: visible;
}

.formUsers form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.formUsers form button {
  margin-top: 20px;
}

.formUsers form #retour {
  position: relative;
  top: 5px;
}

footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #8b8585;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav ul li {
  list-style-type: none;
  margin-left: 10px;
}

footer nav ul li a {
  text-decoration: none;
  color: #2F2E2E;
}

footer nav ul li a svg {
  height: 20px;
  width: 20px;
}

#titreCards {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */