// Palette color codes */
// Palette URL: http://paletton.com/#uid=13n0p0ki7wIAD7Pddsmbyl365g5 */

// As hex codes */
$color-primary-0: #488FA0; // Main Primary color */
$color-primary-1: #011F27;
$color-primary-2: #54818C;
$color-primary-3: #436168;
$color-primary-4: #414D4F;

// As RGBa codes */
$rgba-primary-0: rgba(72, 143, 160, 1); // Main Primary color */
$rgba-primary-1: rgba(1, 31, 39, 1);
$rgba-primary-2: rgba(84, 129, 140, 1);
$rgba-primary-3: rgba(67, 97, 104, 1);
$rgba-primary-4: rgba(65, 77, 79, 1);


$color1: #F8F9F7;
$color2: #c3cf15;
$color4: #2F2E2E;
$color7: #8b8585;
$color8: #ad2626;
$color9: #000000;

@font-face {
    font-family: 'futura';
    src: url('./police/Futura-Light.otf') format('opentype');
}

// @media screen and (min-width: 960px) {
//     .navButton {
//         width: 700px !important;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .navButton {
//         width: 1000px !important;
//     }
// }

* {
    font-family: "futura";
    margin: 0;
    padding: 0;
    // background: $color-primary-3;
    color: $color1;
}

#body {
    background: $color-primary-3;

}

//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(4, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     grid-template-areas:
//         "siteHeader"
//         "siteMenu"
//         "siteMain"
//         "siteFooter";

// }

// #siteHeader {
//     grid-area: siteHeader;
// }

// #siteMenu {
//     grid-area: siteMenu;
// }

// #siteMain {
//     grid-area: siteMain;
// }

// #siteFooter {
//     grid-area: siteFooter;
// }

//=============================================================

//===================== header =================================
//=============================================================
header {
    //height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: sticky;
    // top: 0px;
    // z-index: 5;


    #baniere {
        width: 60%;
        height: 500px;
        background-size: cover;
        margin-bottom: 5px;

    }
}

#menu {
    width: 100%;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
    z-index: 7;

    .menuCase {

        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        li {
            border: solid 5px $color1;
            list-style: none;
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-primary-3;
            transition: all 0.5s ease;


            #admin {
                border: solid 5px $color1;
                list-style: none;
                width: 200px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color1;

                p {
                    position: relative;
                    top: 7px;
                }
            }

            ul {
                li {
                    a {
                        color: $color1;
                        list-style: none;

                    }

                    a:hover {
                        color: $color9;
                    }
                }
            }
        }

        li:hover {
            background: $color-primary-4;
        }



        a {
            text-decoration: none;
            color: $color-primary-1;

            li {
                border: solid 5px $color1;
                list-style: none;
                width: 200px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    position: relative;
                    top: 7px;
                }

            }
        }
    }
}


//=============================================================
//===================== bouton =================================
//=============================================================


.bn632-hover {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    font-weight: 200;
    color: $color1;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    a {
        text-decoration: none;
        background: none;
        color: $color1;
    }

}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn25 {
    background-image: linear-gradient(to right,
            $color-primary-1,
            $color-primary-3,
            $color-primary-0,
            #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

//=============================================================
//===================== bouton 2 =================================
//=============================================================
.bn633-hover {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 200;
    color: $color1;
    cursor: pointer;
    margin: 10px;
    height: 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;




}

.bn633-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn633-hover:focus {
    outline: none;
}

.bn633-hover.bn25 {
    background-image: linear-gradient(to right,
            $color-primary-1,
            $color-primary-3,
            $color-primary-0,
            #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

//=============================================================
//===================== bouton 3 =================================
//=============================================================
.bn634-hover {
    width: auto;
    padding: 15px;
    font-size: 18px;
    font-weight: 900;
    color: $color9;
    cursor: pointer;
    margin: 10px;
    height: auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;


    a {
        color: $color9;
    }

}

.bn634-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: $color9;
}

.bn634-hover:focus {
    outline: none;
    color: $color9;
}

.bn634-hover.bn27 {
    background-image: linear-gradient(to right,
            rgb(243, 228, 13),
            rgb(255, 253, 219),
            rgb(84, 139, 62),
            #3ac09e);

    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


//=============================================================
//===================== MAIN =================================
//=============================================================

main {
    //position: relative;
    //top: -50px;

    height: 100%;
    margin-bottom: 50px;

    textarea {
        resize: none;
    }

    a {
        text-decoration: none;
        color: $color1;
    }



    //=============================================================
    //===================== index =================================
    //=============================================================
    #index {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        #allFiltre {
            margin-top: 10px;
            margin-bottom: 10px;
            height: auto;

            // .checbox {
            //     button {
            //         svg {
            //             background: none;
            //         }
            //     }
            // }

            .filtre {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.5s ease;
                width: 0;
                height: 0;
                transform: scale(0);
                opacity: 0;
                display: flex;
                align-items: center;
                flex-direction: column;

                &.active {
                    transform: scale(1);
                    opacity: 1;
                    height: auto;
                    width: 75%;
                    visibility: visible;
                    position: relative;

                }
            }


        }

        #popup {
            border: 5px solid $color2;
            margin: 10px;
            padding: 10px;
            animation: clignote 3s linear infinite;
            // display: flex;
            //   flex-direction: column;
            //   align-items: center;
            border-radius: 15px;


            p {
                color: $color2;
                animation: clignote 3s linear infinite;
            }

            a {
                text-decoration: none;
                color: $color1;
                border: 1px solid $color1;
                border-radius: 10px;
                padding: 5px;
                background: $color7;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            }

            a:hover {
                box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
                background: $color-primary-4;

            }

        }

        #popupAdmin {
            border: 5px solid $color2;
            margin: 10px;
            padding: 10px;
            animation: clignote 3s linear infinite;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;


            p {
                color: $color2;
                animation: clignote 3s linear infinite;
            }

            a {
                text-decoration: none;
                color: $color1;
                border: 1px solid $color1;
                border-radius: 10px;
                padding: 5px;
                background: $color7;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            }

            a:hover {
                box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
                background: $color-primary-4;

            }

        }

        @keyframes clignote {
            50% {
                opacity: 0.35;
            }
        }

        h2 {
            text-align: center;
            margin-top: 30px;
            font-weight: 900;
            background: none;

        }

        article {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            gap: 20px;
            padding: 20px;
            border-radius: 20px;

            .cards {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                width: 250px;
                background: $color-primary-4;
                border: 1px solid $color1;
                padding: 5px;
                border-radius: 5px;
                transition: all 0.5s ease;
                // height: 400px;



                a {
                    text-decoration: none;
                    background: $color-primary-4;


                    .miniCard {
                        width: 100%;
                        height: 200px;
                        background-size: contain;
                        background: $color-primary-4;

                    }

                    .info {
                        background: $color-primary-4;


                        p {
                            color: $color1;
                            background: $color-primary-4;

                        }
                    }
                }

                h3 {
                    font-size: 22px;
                    color: $color1;
                    font-weight: 800;
                    background: $color-primary-4;

                }
            }

            .cards:hover {
                transform: scale(1.5);
                z-index: 5;
            }

        }


    }

    //=============================================================
    //===================== profil =================================
    //=============================================================
    .profil {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;


        article {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border-radius: 20px;
            background: $color-primary-0;

            div {
                background: $color-primary-0;

                p {
                    background: $color-primary-0;

                    b {
                        background: $color-primary-0;
                        color: $color4;

                    }
                }
            }

            img {
                width: 180px;
                height: 250px;
                border: 1px solid black;
                margin-left: 5px;
            }
        }



    }
}


//=============================================================
//===================== formulaire pop modif user =============
//=============================================================
// ============================================================

// apparition pop profil modif
.formUsers {
    border: 1px solid $color1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 0;
    height: 0;
    margin: 25%;
    transform: scale(0);
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    background: $color-primary-0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.active {
        transform: scale(1);
        opacity: 1;
        width: 500px;
        height: auto;
        visibility: visible;
        border-radius: 20px;
        z-index: 8;




    }

    form {
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 20px;
        background: $rgba-primary-0;

        h2 {
            background-color: $rgba-primary-0;

        }

        div {
            background-color: $rgba-primary-0;
        }

        #usersModForm {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            background: $rgba-primary-0;




            div {
                display: flex;
                flex-direction: column;
                background: $rgba-primary-0;

                label {
                    background: $rgba-primary-0;

                    b {
                        background: $rgba-primary-0;

                    }

                }

                input {
                    background: $rgba-primary-0;
                    border: 1px solid $color1;

                }

                input::placeholder {
                    color: $color1;

                }


                select {
                    background-color: $rgba-primary-0;
                    border: 1px solid $color1;

                    option {
                        background-color: $rgba-primary-0;

                    }
                }
            }
        }

        button {
            margin-top: 20px;


        }


    }
}

// =============================================================
//=============================================================
//===================== tableau =================================
//=============================================================

#tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3% 7% 3% 7%;

    #requete {
        font-weight: 900;
        color: $color1;
        border: 1px solid $color1;
        padding: 10px;
    }

    div {

        margin-bottom: 20px;
    }

    table {
        border: 1px solid $color-primary-1;
        width: 100%;
        border-collapse: collapse;

        thead {
            border: 1px solid $color-primary-1;

            tr {
                th {
                    padding: 10px;
                }
            }

        }

        tbody {


            tr {
                border-bottom: 1px solid $color-primary-1;
                vertical-align: middle;
                // height: 70px;

                td {
                    padding: 4px;
                    color: $color1;

                }

                a {
                    background: $color-primary-1;
                    ;
                    color: $color1;
                    padding: 5px;
                    height: auto;
                    width: auto;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    transition: 0.5s;

                }

                a:hover {
                    box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
                    background: $color-primary-2;
                }

                button {
                    background: $color-primary-1;
                    ;
                    color: $color1;
                    padding: 5px;
                    height: auto;
                    width: auto;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    transition: 0.5s;

                    a {
                        background: none;
                        color: $color1;
                        width: 100%;
                        height: 100%;
                    }
                }

                button:hover {
                    box-shadow: rgba(235, 225, 225, 0.25) 0px 54px 55px, rgba(235, 225, 225, 0.12) 0px -12px 30px, rgba(235, 225, 225, 0.12) 0px 4px 6px, rgba(235, 225, 225, 0.17) 0px 12px 13px, rgba(235, 225, 225, 0.09) 0px -3px 5px;
                    background: $color-primary-2;
                }


            }

            .retard {
                background: none;
                background: $color8;
            }
        }
    }


}



//=============================================================
//===================== formulaire =================================
//=============================================================
#formulaire {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    #message {
        margin-top: 20px;
        color: $color2;
        font-weight: 800;
    }

    form {

        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: auto;
        height: auto;
        border: 1px solid $color1;
        border-radius: 20px;
        gap: 20px;
        padding: 20px;
        background: $rgba-primary-0;




        div {
            display: flex;
            flex-direction: column;
            background: $rgba-primary-0;

            label {
                background: $rgba-primary-0;
                font-weight: 900;
            }

            input {
                background: $rgba-primary-2;
                border: 1px solid $color1;

            }

            input::placeholder {
                color: $color1;
            }

            textarea {
                background: $rgba-primary-2;
                border: 1px solid $color1;

            }

            textarea::placeholder {
                color: $color1;
            }

            select {
                background-color: $rgba-primary-2;
                border: 1px solid $color1;

                option {
                    background-color: $rgba-primary-2;

                }
            }
        }
    }
}


//=============================================================
//===================== sauvegarde =================================
//=============================================================
#sauvegarde {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    form {

        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: auto;
        height: auto;
        border: 1px solid $color1;
        border-radius: 20px;
        gap: 20px;
        padding: 20px;
        background: $rgba-primary-0;

        div {
            display: flex;
            background: $rgba-primary-0;

            label {
                font-weight: 900;
            }
        }
    }
}











// =============================================================
//=============================================================
//===================== connexion =================================
//=============================================================
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {

        form {
            .inputConnec::placeholder {
                color: $color1;
            }

            .inputConnec {
                background: $color-primary-2;
                border: 1px solid $color1;
            }
        }

        // button {
        //     a {
        //         color: $white;
        //     }
        // }
    }

    .spaceButton {
        background: none;
    }
}

//=============================================================
//===================== l'article =============================
//=============================================================
.oneArticle {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fichierOne {
        width: 250px;
        height: 350px;
        margin-bottom: 40px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        h3 {
            font-weight: 900;
        }

        #description {

            font-weight: 600;
        }
    }

    .message {
        border: 1px solid black;
        border-radius: 15px;
        position: relative;
        top: -500px;
        width: 0;
        height: 0;
        background: $color1;
        margin: 25%;
        transform: scale(0);
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        &.active {
            transform: scale(1);
            opacity: 1;
            width: 200px;
            height: 100px;
            visibility: visible;

        }

        p {
            color: $color-primary-4;
            font-weight: 900;
        }
    }

}




//=============================================================
//===================== footer ================================
//=============================================================
footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background: $color7;
    height: 50px;
    align-items: center;
    font-family: "Roboto";

    p {
        background: none;

    }

    nav {
        background: none;

        ul {
            display: flex;
            background: none;


            li {
                list-style-type: none;
                margin-left: 10px;
                background: $color7;

                a {
                    text-decoration: none;
                    color: $color4;
                    background: $color7;



                    svg {
                        height: 20px;
                        width: 20px;
                        background: $color7;

                        path {
                            background: $color7;

                        }



                    }
                }
            }
        }
    }
}




#titreCards {
    margin-top: 10px;
}